html,
body {
  height: 100%;
}

.center, .center-column, .top, .right, .bottom, .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}

.right {
  justify-content: flex-end;
}

.bottom {
  align-items: flex-end;
}

.left {
  justify-content: flex-start;
}

.single-spaced, .single-spaced * {
  line-height: 1;
}

@media (max-width: 824px) {
  .desktop {
    display: none;
  }
  .form-accesso {
    width: 100%;
  }
}

@media (min-width: 825px) {
  .mobile {
    display: none;
  }
  .form-accesso {
    width: 45%;
  }
}

.profilo {
  width: 80%;
}

.is-paddingless-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.hidden {
  display: none;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.radiobottoni input {
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radiobottoni input:active+.immagine {
  opacity: .9;
}

.radiobottoni input:checked+.immagine {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.lingua {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 5.5%;
  background-position: 98% 26%;
}

.immagine {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 48px;
  height: 48px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.immagine:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

@keyframes rainbow_animation {
  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.vertical-center {
  margin: 0;
  position: relative;
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.save {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}

.save i:hover {
  color: black;
  cursor: pointer;
}

.competenze {
  cursor: pointer;
  transition: 0.2s;
}

.competenze:hover {
  background: #dddd;
  border-radius: 25px;
}

.bi-x-lg {
  color: #b3140c;
}

.bi-check-lg {
  color: #3fad0c;
}

.logo {
  width: 340px;
  height: auto;
  cursor: pointer;
}

.contenuto {
  width: 60%;
}

@media (max-width: 1400px) {
  .contenuto {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .contenuto {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 330px;
    height: auto;
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 300px;
    height: auto;
    cursor: pointer;
  }
}

@media (max-width: 405px) {
  .logo {
    width: 280px;
    height: auto;
    cursor: pointer;
  }
}

@media (max-width: 380px) {
  .logo {
    width: 260px;
    height: auto;
    cursor: pointer;
  }
}

@media (max-width: 360px) {
  .logo {
    width: 230px;
    height: auto;
    cursor: pointer;
  }
}

.footer-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px;
}

.btn-bg {
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: top right;
  background-origin: content-box;
}

.tabella {
  cursor: pointer;
}

.text-justify {
  text-align: justify;
}
