{% extends "base.html" %}
{% block content %}

{% with messaggi = get_flashed_messages() %}
{% if messaggi %}
<div class="notification is-danger is-medium">
  {{ messaggi[0] }}
</div>
{% endif %}
{% endwith %}

<form class="save" method="POST" id="salva" action="/salva">
  <div class="right desktop">
    <i class="bi bi-file-earmark-check fs-1" style="margin-right: -13%; margin-bottom: -9%;"></i>
  </div>
  <div class="right mobile">
    <i class="bi bi-file-earmark-check fs-1" style="margin-bottom: -12%;"></i>
  </div>
</form>

<input class="hidden" name="i" form="salva" value="{{ index }}"></input>

{% with lingua = 'ita' if lingua else 'eng' %}

<h1 class="mb-5">{{ testo[lingua]['base'][0] }}</h1>

<div class="desktop">
  <div class="row mb-3">
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][1] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" type="text" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d1" form="salva">{{ dati['d1'] }}</textarea>
    </div>
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][2] }}</p>
    </div>
    <div class="col-3">
      <div>
        <select class="form-select" name="d2" form="salva">
          <option selected hidden>{{ dati['d2'] }}</option>
          <option>{{ testo[lingua]['base'][3] }}</option>
          <option>{{ testo[lingua]['base'][4] }}</option>
          <option>{{ testo[lingua]['base'][5] }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][6] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d3" form="salva">{{ dati['d3'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][7] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d4" form="salva">{{ dati['d4'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][8] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d5" form="salva">{{ dati['d5'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][9] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d6" form="salva">{{ dati['d6'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][10] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d7" form="salva">{{ dati['d7'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][11] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][14] }}" name="d8" form="salva">{{ dati['d8'] }}</textarea>
    </div>
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][12] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][14] }}" name="d9" form="salva">{{ dati['d9'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <p class="vertical-center">{{ testo[lingua]['base'][13] }}</p>
    </div>
    <div class="col-3">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d10" form="salva">{{ dati['d10'] }}</textarea>
    </div>
  </div>
</div>

<div class="mobile">
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][1] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" type="text" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d1" form="salva">{{ dati['d1'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][2] }}</p>
    </div>
    <div class="col">
      <div>
        <select class="form-select" name="d2" form="salva">
          <option selected hidden>{{ dati['d2'] }}</option>
          <option>{{ testo[lingua]['base'][3] }}</option>
          <option>{{ testo[lingua]['base'][4] }}</option>
          <option>{{ testo[lingua]['base'][5] }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][6] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d3" form="salva">{{ dati['d3'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][7] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d4" form="salva">{{ dati['d4'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][8] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d5" form="salva">{{ dati['d5'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][9] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d6" form="salva">{{ dati['d6'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][10] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d7" form="salva">{{ dati['d7'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][11] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][14] }}" name="d8" form="salva">{{ dati['d8'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][12] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][14] }}" name="d9" form="salva">{{ dati['d9'] }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-5">
      <p class="vertical-center">{{ testo[lingua]['base'][13] }}</p>
    </div>
    <div class="col">
      <textarea class="textarea form-control" rows="1" placeholder="{{ testo[lingua]['base'][15] }}" name="d10" form="salva">{{ dati['d10'] }}</textarea>
    </div>
  </div>
</div>

<h2 class="mt-5">{{ testo[lingua]['base'][16] }}</h2>
<h4 class="mb-5">{{ testo[lingua]['base'][17] }}</h4>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c1" class="{{ classi['c1'] }}"></i>{{ testo[lingua]['base'][18] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac1'] }}">
    <textarea class="textarea form-control" rows="1" name="d11" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d11'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c2" class="{{ classi['c2'] }}"></i>{{ testo[lingua]['base'][19] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac2'] }}">
    <textarea class="textarea form-control" rows="1" name="d12" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d12'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c3" class="{{ classi['c3'] }}"></i>{{ testo[lingua]['base'][20] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac3'] }}">
    <textarea class="textarea form-control" rows="1" name="d13" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d13'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c4" class="{{ classi['c4'] }}"></i>{{ testo[lingua]['base'][21] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac4'] }}">
    <textarea class="textarea form-control" rows="1" name="d14" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d14'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c5" class="{{ classi['c5'] }}"></i>{{ testo[lingua]['base'][22] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac5'] }}">
    <textarea class="textarea form-control" rows="1" name="d15" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d15'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c6" class="{{ classi['c6'] }}"></i>{{ testo[lingua]['base'][23] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac6'] }}">
    <textarea class="textarea form-control" rows="1" name="d16" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d16'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c7" class="{{ classi['c7'] }}"></i>{{ testo[lingua]['base'][24] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac7'] }}">
    <textarea class="textarea form-control" rows="1" name="d17" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d17'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c8" class="{{ classi['c8'] }}"></i>{{ testo[lingua]['base'][25] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac8'] }}">
    <textarea class="textarea form-control" rows="1" name="d18" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d18'] }}</textarea>
  </div>
</div>

<h2 class="mt-5">{{ testo[lingua]['base'][26] }}</h2>
<h4 class="mb-5">{{ testo[lingua]['base'][27] }}</h4>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c9" class="{{ classi['c9'] }}"></i>{{ testo[lingua]['base'][28] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac9'] }}">
    <textarea class="textarea form-control" rows="1" name="d19" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d19'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c10" class="{{ classi['c10'] }}"></i>{{ testo[lingua]['base'][29] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac10'] }}">
    <textarea class="textarea form-control" rows="1" name="d20" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d20'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c11" class="{{ classi['c11'] }}"></i>{{ testo[lingua]['base'][30] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac11'] }}">
    <textarea class="textarea form-control" rows="1" name="d21" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d21'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c12" class="{{ classi['c12'] }}"></i>{{ testo[lingua]['base'][31] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac12'] }}">
    <textarea class="textarea form-control" rows="1" name="d22" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d22'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c13" class="{{ classi['c13'] }}"></i>{{ testo[lingua]['base'][32] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac13'] }}">
    <textarea class="textarea form-control" rows="1" name="d23" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d23'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c14" class="{{ classi['c14'] }}"></i>{{ testo[lingua]['base'][33] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac14'] }}">
    <textarea class="textarea form-control" rows="1" name="d24" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d24'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c15" class="{{ classi['c15'] }}"></i>{{ testo[lingua]['base'][34] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac15'] }}">
    <textarea class="textarea form-control" rows="1" name="d25" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d25'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c16" class="{{ classi['c16'] }}"></i>{{ testo[lingua]['base'][35] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac16'] }}">
    <textarea class="textarea form-control" rows="1" name="d26" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d26'] }}</textarea>
  </div>
</div>

<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p><i name="c17" class="{{ classi['c17'] }}"></i>{{ testo[lingua]['base'][36] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac17'] }}">
    <textarea class="textarea form-control" rows="1" name="d27" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['d27'] }}</textarea>
  </div>
</div>



<h2 class="mt-5 mb-5">{{ testo[lingua][current_user.indirizzo]['specifiche'][0] }}</h2>

{% for i in range(1, testo[lingua][current_user.indirizzo]['specifiche']|length) %}
<div class="competenze ms-6 mt-3 mb-2 ps-3 pt-3 pb-1 fs-5 noselect">
  <p class="ps-2 pb-1"><i name="c{{ (i+17) }}" class="{{ classi['c' ~ (i+17)] }}"></i>{{ testo[lingua][current_user.indirizzo]['specifiche'][i] }}</p>
</div>
<div class="ps-5">
  <div class="{{ classi['textareac' ~ (i+17)] }}">
    <textarea class="textarea form-control" rows="1" name="s{{ i }}" form="salva" placeholder="{{ testo[lingua]['base'][37] }}">{{ dati['s' ~ i] }}</textarea>
  </div>
</div>
{% endfor %}



<h2 class="mt-5 mb-5">{{ testo[lingua][current_user.indirizzo]['tabella'][0] }}</h2>

<table class="table table-bordered" style="width: 100%">
  <colgroup>
    <col style="width: 30%;">
    <col style="width: 10%;">
    <col style="width: 25%;">
    <col style="width: 10%;">
    <col style="width: 25%;">
  </colgroup>
  <thead>
    <tr>
      <th scope="col">{{ testo[lingua][current_user.indirizzo]['tabella'][3] }}</th>
      <th class="text-center" scope="col" colspan="2">{{ testo[lingua][current_user.indirizzo]['tabella'][1] }} ➙ {{ testo[lingua][current_user.indirizzo]['tabella'][2] }}</th>
      <th class="text-center" scope="col" colspan="2">{{ testo[lingua][current_user.indirizzo]['tabella'][2] }} ➙ {{ testo[lingua][current_user.indirizzo]['tabella'][1] }}</th>
    </tr>
  </thead>
  <tbody>

    {% for i in range(4, testo[lingua][current_user.indirizzo]['tabella']|length) %}

    <tr>
      <td>{{ testo[lingua][current_user.indirizzo]['tabella'][i] }}</td>
      <td class="tabella" style="text-align: center;"><i name="t{{ (i*2-7) }}" class="{{ classi['t' ~ (i*2-7)] }}"></i></td>
      <td class="tableclass" height="55"><textarea rows="1" style="width: 100%; height: 32px" class="{{ classi['textareat' ~ (i*2-7)] }}" placeholder="{{ testo[lingua]['base'][15] }}" name="t{{ (i*2-7) }}"
          form="salva">{{ dati['t' ~ (i*2-7)] }}</textarea></td>
      <td class="tabella" style="text-align: center;"><i name="t{{ (i*2-6) }}" class="{{ classi['t' ~ (i*2-6)] }}"></i></td>
      <td class="tableclass" height="55"><textarea rows="1" style="width: 100%; height: 32px" class="{{ classi['textareat' ~ (i*2-6)] }}" placeholder="{{ testo[lingua]['base'][15] }}" name="t{{ (i*2-6) }}"
          form="salva">{{ dati['t' ~ (i*2-6)] }}</textarea></td>
    </tr>

    {% endfor %}

  </tbody>
</table>



<h2 class="mt-5 mb-5">{{ testo[lingua]['base'][38] }}</h2>
<textarea class="textarea mb-5 form-control" rows="10" style="margin-left: 0; width: 100%;" placeholder="{{ testo[lingua]['base'][15] }}" name="d28" form="salva">{{ dati['d28'] }}</textarea>


<textarea class="hidden" id="classi" name="classi" form="salva"></textarea>

{% endwith %}

<script>
  autosize(document.querySelectorAll("textarea"));


  $(".competenze").click(function() {
    $(this).children().children().toggleClass('bi-x-lg bi-check-lg');
    $(this).next().find(".comp").toggleClass('hidden');
  });

  $(".tabella").click(function() {
    $(this).children().toggleClass('bi-x-lg bi-check-lg');
    $(this).next().children().toggleClass('hidden');
  });

  /*
  $("tbody").click(function () {
      $(this).children().children().children("i").toggleClass('bi-x-lg bi-check-lg');
      $(this).children().children().children("textarea").toggleClass('hidden');
  });
  */


  $("#salva").click(function() {

    if ($('.desktop').css('display') == 'none')
    {
      $('.desktop').remove();
    } else {
      $('.mobile').remove();
    }

    var values = $(".icone").map(function() {
      return $(this).attr('class');
    }).get();

    var keys = $(".icone").map(function() {
      return $(this).attr('name');
    }).get();

    var table = $(".tableclass").map(function() {
      return $(this).children(".textarea").attr('class');
    }).get();

    var competences = $(".comp").map(function() {
      return $(this).attr('class');
    }).get();

    var hiddens = [];

    for (i = 0; i < competences.length; i++) {
      hiddens.push("textareac" + (i + 1));
      hiddens.push(competences[i]);
    }

    for (i = 0; i < table.length; i++) {
      hiddens.push("textareat" + (i + 1));
      hiddens.push(table[i]);
    }

    var classi = [];

    for (i = 0; i < keys.length; i++) {
      classi.push(keys[i]);
      classi.push(values[i]);
    }

    classi = classi.concat(hiddens);

    document.getElementById("classi").innerHTML = classi;

    $("#salva").submit();

  });
</script>

{% endblock %}
