{% extends "base.html" %}

{% block content %}

<!-- alert -->
<div id="alert" class="position-fixed top-0 end-0 p-3 hidden" style="z-index: 1061; margin-top: 100px">
  {% with messaggi = get_flashed_messages() %}
  <div id="toastdb" class="toast">
    {% if messaggi and messaggi[0] == "Successo" %}
    <div class="toast-header bg-success">
      <strong class="me-auto text-light">Successo</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hai eseguito l'accesso correttamente
    </div>
    {% endif %}
    {% if messaggi and messaggi[0] != "Successo" %}
    <div class="toast-header bg-danger">
      <strong class="me-auto text-light">Errore</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ messaggi[0] }}
    </div>
    {% endif %}
  </div>
  {% endwith %}

  <div id="toastjs" class="toast">
    <div class="toast-header bg-danger">
      <strong class="me-auto text-light">Errore</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div id="errore-testo" class="toast-body"></div>
  </div>

</div>

<!-- titolo -->
<div class="mx-auto mt-4">
  <h1>
    I tuoi moduli
  </h1>
  <h5 class="pb-2">
    In questa pagina potrai compilare dei moduli che ti aiuteranno a raccogliere e catalogare dati utili a valutare gli effetti dei PCTO durante il percorso di studi.
  </h5>
</div>

<div class="row align-items-start mt-5 mb-5">
  <div class="col d-grid gap-2">

    {% for i in range(num) %}
    <!-- form -->
    <form method="POST" action="/moduli">

      <!-- campi -->
      {% if lingua[i] %}
      <button class="btn btn-outline-primary btn-lg btn-bg" style="background-image: url({{ url_for('static',
        filename='risorse/ita.png' ) }}); width: 100%" name="index" value="{{ i, lingua[i] }}">{{ titoli[i] }}</button>
      {% else %}
      <button class="btn btn-outline-primary btn-lg btn-bg" style="background-image: url({{ url_for('static',
        filename='risorse/eng.png' ) }}); width: 100%" name="index" value="{{ i, lingua[i] }}">{{ titoli[i] }}</button>
      {% endif %}
    </form>
    {% endfor %}

    <!-- nuovo modulo -->
    {% if num < 5 %}
    <button class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modal-nuovo"
      id="nuovo"><i class="bi bi-file-earmark-plus"></i></button>
    {% endif %}

    <!-- modifica ed elimina -->
    {% if num > 0 %}
    <div class="row mt-2">
      <div class="col">
        <div class="left">
          <button data-bs-toggle="modal" data-bs-target="#modal-elimina" class="btn btn-danger" id="elimina">Elimina</button>
        </div>
      </div>
      <div class="col">
        <div class="right">
          <button data-bs-toggle="modal" data-bs-target="#modal-modifica" class="btn btn-primary" id="modifica">Modifica</button>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!-- tutorial desktop -->
  <div class="col desktop">
    <div class="ms-4 fs-5">
      La compilazione del modulo è divisa in queste sezioni:
      <div class="mt-2 ps-2 fs-6">
        <b>Dati stage</b>: <p class="ps-2">informazioni generali sul periodo di PCTO</p>
        <b>Competenze chiave ed Europass</b>: <p class="ps-2">spuntare le competenze utilizzate e descrivi come e quando le hai applicate</p>
        <b>Conoscenze e abilità</b>: <p class="ps-2">spuntare le materie che hai applicato dalla scuola al lavoro oppure che hai approfondito a lavoro e potrai applicare a scuola</p>
        <b>Diario di bordo</b>: <p class="ps-2">potrai compilarlo durante l'esperienza per tenere traccia di ogni dettaglio utile ad una successiva compilazione del modulo</p>
      </div>
    </div>
  </div>
</div>

<!-- tutorial mobile -->
<div class="mobile fs-5">
  La compilazione del modulo è divisa in queste sezioni:
  <div class="mt-2 ps-2 fs-6">
    <b>Dati stage</b>: <p class="ps-2">informazioni generali sul periodo di PCTO</p>
    <b>Competenze chiave ed Europass</b>: <p class="ps-2">spuntare le competenze utilizzate e descrivi come e quando le hai applicate</p>
    <b>Conoscenze e abilità</b>: <p class="ps-2">spuntare le materie che hai applicato dalla scuola al lavoro oppure che hai approfondito a lavoro e potrai applicare a scuola</p>
    <b>Diario di bordo</b>: <p class="ps-2">potrai compilarlo durante l'esperienza per tenere traccia di ogni dettaglio utile ad una successiva compilazione del modulo</p>
  </div>
</div>

<!-- modal nuovo -->
<div class="modal fade" id="modal-nuovo" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nuovo modulo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="/moduli" name="formNuovo" onsubmit="return validaNuovo()">
        <div class="modal-body">
          <input class="form-control mb-3" type="text" placeholder="Titolo del modulo" name="titolo-nuovo">
          <div class="radiobottoni center">
            <input id="ita" type="radio" name="lang" value="ita" checked="checked">
            <label class="immagine me-3"
              style="background-image:url({{ url_for('static', filename='risorse/ita.png') }})" for="ita"></label>
            <input id="eng" type="radio" name="lang" value="eng">
            <label class="immagine ms-3"
              style="background-image:url({{ url_for('static', filename='risorse/eng.png') }})" for="eng"></label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Crea</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal elimina -->
<div class="modal fade" id="modal-elimina" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Elimina modulo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="/moduli" name="formElimina" onsubmit="return validaElimina()">
        <div class="modal-body">
          <select name="elimina-modulo" class="form-select mb-2">
            <option selected hidden>Seleziona modulo</option>
            {% for i in range(num) %}
            <option value="{{ i }}">{{ titoli[i] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Elimina</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal modifica -->
<div class="modal fade" id="modal-modifica" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modifica modulo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" action="/moduli" name="formModifica" onsubmit="return validaModifica()">
        <div class="modal-body">
          <select name="modifica-modulo" class="form-select mb-2">
            <option selected hidden>Seleziona modulo</option>
            {% for i in range(num) %}
            <option value="{{ i }}">{{ titoli[i] }}</option>
            {% endfor %}
          </select>
          <input class="form-control mb-3" type="text" placeholder="Titolo del modulo" name="titolo-modifica">
          <div class="radiobottoni center">
            <input id="ita-mod" type="radio" name="lang" value="ita" checked="checked">
            <label class="immagine me-3"
              style="background-image:url({{ url_for('static', filename='risorse/ita.png') }})" for="ita-mod"></label>
            <input id="eng-mod" type="radio" name="lang" value="eng">
            <label class="immagine ms-3"
              style="background-image:url({{ url_for('static', filename='risorse/eng.png') }})" for="eng-mod"></label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Modifica</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

  $(window).bind('scroll', function() {
    if ($(window).scrollTop() > 100) {
      $("#alert").css("margin-top", "0px");
    } else {
      $("#alert").css("margin-top", "100px");
    }
  });

  var options = {
    delay: 3000
  };

  function validaNuovo() {

    var verifica = /^[^ ][\w\W ]*[^ ]/;
    var lunghezza = /^.{1,20}$/;

    var title = document.forms["formNuovo"]["titolo-nuovo"].value;

    var toastElList = [].slice.call(document.querySelectorAll('#toastjs'));
    var toastList = toastElList.map(function(toastEl) {
      return new bootstrap.Toast(toastEl, options)
    });

    $("#alert").css("margin-top", "0px");

    if (!lunghezza.test(title)) {
      $("#errore-testo").html("Da 1 a massimo 20 caratteri.");
      $("#alert").removeClass("hidden");
      toastList.forEach(toast => toast.show());
      return false;
    }

    if (!verifica.test(title)) {
      $("#errore-testo").html("Non inserire spazi all'inizio.");
      $("#alert").removeClass("hidden");
      toastList.forEach(toast => toast.show());
      return false;
    }

    return true;
  }

  function validaElimina() {

    var modulo = document.forms["formElimina"]["elimina-modulo"].value;

    var toastElList = [].slice.call(document.querySelectorAll('#toastjs'))
    var toastList = toastElList.map(function(toastEl) {
      return new bootstrap.Toast(toastEl, options)
    });

    $("#alert").css("margin-top", "0px");

    if (modulo == "Seleziona modulo") {
      $("#errore-testo").html("Compila tutti i campi.");
      $("#alert").removeClass("hidden");
      toastList.forEach(toast => toast.show());
      return false;
    }

    return true;
  }

  function validaModifica() {

    var verifica = /^[^ ][\w\W ]*[^ ]/;
    var lunghezza = /^.{1,20}$/;

    var title = document.forms["formModifica"]["titolo-modifica"].value;
    var modulo = document.forms["formModifica"]["modifica-modulo"].value;

    var toastElList = [].slice.call(document.querySelectorAll('#toastjs'));
    var toastList = toastElList.map(function(toastEl) {
      return new bootstrap.Toast(toastEl, options)
    });

    $("#alert").css("margin-top", "0px");

    if (modulo == "Seleziona modulo") {
      $("#errore-testo").html("Compila tutti i campi.");
      $("#alert").removeClass("hidden");
      toastList.forEach(toast => toast.show());
      return false;
    }

    if (!lunghezza.test(title)) {
      $("#errore-testo").html("Da 1 a massimo 20 caratteri.");
      $("#alert").removeClass("hidden");
      toastList.forEach(toast => toast.show());
      return false;
    }

    if (!verifica.test(title)) {
      $("#errore-testo").html("Non inserire spazi all'inizio.");
      $("#alert").removeClass("hidden");
      toastList.forEach(toast => toast.show());
      return false;
    }

    return true;
  }

  var myToastEl = document.getElementById('#toastjs')
  myToastEl.addEventListener('hide.bs.toast', function () {
    $("#alert").addClass("hidden");
  });

  var myToastEl = document.getElementById('#toastdb')
  myToastEl.addEventListener('hide.bs.toast', function () {
    $("#alert").addClass("hidden");
  });

</script>

{% with messaggi = get_flashed_messages() %}
{% if messaggi %}
<script>
  window.onload = function() {

    var toastElList = [].slice.call(document.querySelectorAll('#toastdb'))
    var toastList = toastElList.map(function(toastEl) {
      // Creates an array of toasts (it only initializes them)
      return new bootstrap.Toast(toastEl, options)
    });
    $("#alert").removeClass("hidden");
    toastList.forEach(toast => toast.show()); // This show them
  };
</script>
{% endif %}
{% endwith %}

{% endblock %}
